{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jumbotron">
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="display-8">Are you sure, you want to {{ status }} this data?</h1>
                        <hr class="my-4">
                        <p class="lead">
                        <div class="col-lg-12 text-center">
                            <input type="submit" value="{{ status }}" class="btn btn-success">
                            <a href="{% url 'category:list' %}" class="btn btn-primary">Cancel</a>
                        </div>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}